
#bodyforwrap {
  text-align:center;
  
  background-color: #f3de9e;
  padding: 3vw 0vw 0vw 0vw;
}

.spaceTitle{
  padding-top: 1vw;
  padding-bottom: 7vw;
}

#happiness{
  background-color: #3f3f3f;
}
#beauty{
  background-color: #82553c;
}
#health{
  background-color: #d0b76c;

}
#happiness .subpoint{
  background-color: #3f3f3f;
}
#beauty .subpoint{
  background-color: #82553c;
}
#health .subpoint{
  background-color: #d0b76c;
}

.subpoint{
    color: white;
   transform: translateY(-50%);
    position: relative;
    left: 30%;
    width: 13vw;
    height: 13vw;
    margin-top: 15px;
    padding: 4vw 1px;
    border-radius: 100% !important;
    border: 10px solid grey;
}

.subpoint h3{
  //transform: translateY(-300%);
}

 .wrap {
  text-align:center;
}

 .table {
  height:100%;
  width:100%;
  margin-top:50px; 
   
}

 .table ul li {
  list-style: none;
  text-align:center;
}

 .top {
  vertical-align: middle;
}

 .circle {
  width:120px;
  height:120px;
  border-radius:100px;
  color:#fff;
  line-height:60px;
  text-align:center;
  background:#989A8F;
  margin-left:140px;
  margin-top:10px;
}

 .bottom {

  p {
     font-size:13px;
     font-family: 'Droid Serif', sans-serif;
     padding:5px;
    span {
     font-weight:bold; 
    }
  }
}
